.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spanStyle {
  color: #fff;
  left: 0;
  padding: 5px 15px;
  position: absolute;
  top: 0;
  opacity: 0.7;
}

.card {
  width: 34rem !important;
  height: 575px !important;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-title {
  color: #0a406a !important;
  font-family: Haboro Slab, serif !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  margin: 16px 0 !important;
}

.post-author {
  color: #54565a;
  font-size: 12px;
  font-weight: 600;
}

.card-text {
  color: #54565a !important;
  font-family: proxima-nova, sans-serif !important;
  font-size: 16px !important;
  line-height: 22px !important;
  margin: 10px 0 !important;
}

.navbar {
  background-color: #0a406a !important;
}

.navbar-brand {
  color: white !important;
}

.nav-link-active {
  color: white !important;
}

.nav-link {
  color: white !important;
}

.pagebtn {
  padding: 0px 6px !important;
  background-color: #0a406a !important;
  border: none !important;
  color: white !important;
}

.pagefont {
  font-size: 25px;
}

img.card-img-top {
  height: 305px !important;
}

.newsLink {
  color: rgba(255, 131, 0, 1);
  border: none;
  background-color: white !important;
  text-decoration: none;
}

.newsLinkMargin {
  position: absolute;
  bottom: 0%;
  padding-bottom: 15px;
}

.my-4 {
  margin-top: 5.5rem!important;
  margin-bottom: 1.5rem!important;
}

@media Screen and (max-width: 1150px) {
  .card {
    width: 29rem !important;
    height: 600px !important;
  }

  img.card-img-top {
    height: 300px !important;
  }
}

@media Screen and (max-width: 992px) {
  .card {
    width: 21rem !important;
    height: 550px !important;
  }

  img.card-img-top {
    height: 206px !important;
  }
}

@media Screen and (max-width: 767px) {
  .card {
    width: 33rem !important;
    height: 575px !important;
  }

  img.card-img-top {
    height: 300px !important;
  }
}

@media Screen and (max-width: 600px) {
  .card {
    width: 32rem !important;
    height: 550px !important;
  }

  img.card-img-top {
    height: 300px !important;
  }
}

@media Screen and (max-width: 430px) {
  .card {
    width: 25rem !important;
    height: 670px !important;
  }

  img.card-img-top {
    height: 230px !important;
  }
}

@media Screen and (max-width: 375px) {
  .card {
    width: 22rem !important;
    height: 610px !important;
  }

  img.card-img-top {
    height: 200px !important;
  }
}

@media Screen and (max-width: 315px) {
  .card {
    width: 18rem !important;
    height: 645px !important;
  }

  img.card-img-top {
    height: 175px !important;
  }
}


