.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spanStyle {
  color: #fff;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  top: 0;
}

.card {
  width: 23rem !important;
}

.card:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-title {
  color: #0a406a !important;
  font-family: Haboro Slab, serif !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  margin: 16px 0 !important;
}

.post-author {
  color: #54565a;
  font-size: 12px;
  font-weight: 600;
}

.card-text {
  color: #54565a !important;
  font-family: proxima-nova, sans-serif !important;
  font-size: 16px !important;
  line-height: 22px !important;
  margin: 10px 0 !important;
}
